.container {
    width: 1100px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.imageContainer img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

table {
    width: 1100px;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

td img {
    width: 100%;
}
